<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentListeners"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="testcases.TC001_Registration" />
			<class name="testcases.TC002_VerifyLogin"/>
			<class name="testcases.TC003_SearchProduct" />
			<class name="testcases.TC004_BuyProduct"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
